<!DOCTYPE html>
<html>
<head>
  <title>AuthLite</title>
  <%= stylesheet_link_tag    "auth_lite/application", media: "all" %>
  <%= javascript_include_tag "auth_lite/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
